{% extends 'app_food/base.html' %}
{% load static %}

{% block title %}Меню{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <div class="features">
        <h1>Выберите пиццу</h1>
        {% for el in pizza %}
        <div class="pizza">
            <img src="{{ el.pizza_img }} " alt="пицца">
            <h3 class="pizza-name">{{ el.pizza_name }}</h3>
            <p class="price-weight">{{ el.pizza_price }} {{ el.pizza_weight }}</p>
            <p class="description">{{ el.pizza_description}}</p>
            <button type="button" class="btn btn-primary">Добавить в корзину</button>
        </div>
        {% endfor %}
    </div>
{% endblock %}
